# APP SETTINGS
ENV=local
APP_SETTINGS=config.DevelopmentConfig

# SQS 
AWS_SQS_NAME=<sqs name>

# PROCESS VIDEO SERVER
PROCESS_VIDEO_SERVER_URL=<process video server url>

# BACKEND
BACKEND_URL=<backend url>
BACKEND_API_KEY=<backend apikey>

# API_KEY
API_KEY=<video ingestion apikey>