# APP SETTINGS
ENV=local
APP_SETTINGS=config.DevelopmentConfig

# AWS
AWS_REGION=us-east-1 # AWS region where your resources are located
AWS_ACCESS_KEY_ID=<access key> # User access key
AWS_SECRET_ACCESS_KEY=<secret key> # Secret access key

# S3 BUCKET
AWS_BUCKET_NAME=<bucket name> # AWS bucket name where multimedia resources are saved
AWS_BUCKET_URL=<bucket url> # AWS bucket url

# SQS 
AWS_SQS_NAME=<sqs name>

# PROCESS VIDEO SERVER
PROCESS_VIDEO_SERVER_URL=<process video server url>

# BACKEND
BACKEND_URL=<backend url>
ADMIN_USER=<admin user>
ADMIN_PASSWORD=<admin password>
ADMIN_API_KEY=<backend apikey>

# API_KEY
API_KEY=<video ingestion apikey>