# APP SETTINGS
ENV=local
APP_SETTINGS=<app settings 'config.DevelopmentConfig' for development and 'config.ProductionConfig' for stage or alpha >

# BACKEND
BACKEND_URL=<backend url>
BACKEND_API_KEY=<backend apikey>

# API_KEY
API_KEY=<video ingestion apikey>

# Redis
REDISCLOUD_URL=<redis cloud url>

# Ssh key
SSH_KEY=<ssh key only for stage or alpha to install edream-sdk>
